[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
omegaconf = "*"
numpy = "*"
tk = "*"
python-rospkg = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3"
