<launch>
<include file="$(find gazebo_ros)/launch/empty_world.launch">
	<env name="GAZEBO_RESOURCE_PATH" value="$(find agrobot)"/>
	<env name="GAZEBO_MODEL_PATH" value="$(find agrobot)/models"/>
	<arg name="world_name" value="$(find agrobot)/worlds/agrobot.world"/>
	<arg name="gui" value="true"/>
</include>
<include file="$(find agrobot)/launch/robot.launch">
	<arg name="init_pose" value="-x 0.0 -y 0.0 -z 10.0 -R 0.0 -P 0.0 -Y 0.0" />
</include>
</launch>